In [1]:
import turicreate
import random

# Load some data -From wikipedia- pages on people

In [2]:
data=turicreate.SFrame("people_wiki.sframe/")

In [3]:
data.head(5)

Columns:
	URI	str
	name	str
	text	str

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
+-------------------------------+
[5 rows x 3 columns]

In [4]:
len(data)

59071

d
## contains 58071 peoples wiki pages

# Explore the dataset

#### Selecting random name from data and viewing wiki page text

In [7]:
name_gen= random.choice(data['name'])
print(name_gen)

Paul Tighe

In [8]:
data[data['name']==name_gen]['text']

dtype: str
Rows: ?
['paul tighe born 12 february 1958 is the current secretary of the pontifical council for social communications since his appointment by pope benedict xvi on 30 november 2007 he had previously served as director of the office for public affairs in the dublin diocesetighe was born in navan county meath he graduated from ucd in 1979 with a bcl degree in law having studied for the priesthood in holy cross college in clonliffe and at the pontifical irish college in rome he was ordained a priest of the dublin diocese in st laurence otoole church in kilmacud in 1983 his first appointment was as parish chaplain and teacher in ballyfermot later he went on to study moral theology at the pontifical gregorian university in rome since 1990 he has been a lecturer in moral theology in the mater dei institute of education in dublin he was appointed head of the theology department in 2000in 2004 he was named the director of the communications office of the diocese of dublin he also instituted the office for public affairs which aids communication between the diocese government public bodies and nongovernmental organizations in ireland and europehe was appointed as secretary of the pontifical council for social communications on 30 november 2007 as secretary mgr tighe will assume the role of deputy to the president archbishop claudio maria celli welcoming news of the appointment the archbishop of dublin diarmuid martin said mgr tighe is a priest of great competence and i am glad that he will have the possibility now to place his talents at the service of the universal church i thank him for the service he has given to the archdiocese of dublin and wish him every successmonsignor paul tighe said this appointment has come as a surprise to me communication of the gospel must be at heart of the ministry of a priest and i am pleased to be asked to work in the council that has a mandate to harness the potential of the media new and old as a means of evangelisation i look forward to serving pope benedict xvi in his missionwriting on the challenge for the church in a digital culture msgr tighe wrote the generalized and uncritical social reception of the tenets of relativism finds particular expression in the digital world where the sheer volume of information and opinion much of it contradictory can lead to an almost resigned acceptance that it is meaningless to speak of truth and objectivity in the face of so much assertion argument and counter argument it is difficult to decide where real authority and expertise resideson the 9th of july 2014 he was appointed to serve as secretary on the committee for vatican media', ... ]

In [9]:
taylor_swift=data[data['name']=='Taylor Swift']
taylor_swift

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Taylor Swift | taylor alison swift born d... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

## Word Counts for above text

In [11]:
taylor_swift['word_count']=turicreate.text_analytics.count_words(taylor_swift['text'])
print(taylor_swift['word_count'])

[{'relief': 1, 'natural': 1, 'literacy': 1, 'education': 1, 'sick': 1, 'supports': 1, 'signed': 1, 'me': 1, 'love': 1, 'pop': 1, 'released': 2, 'red': 1, 'narrative': 1, 'fearless': 2, '2008': 2, 'her': 5, 'you': 2, 'success': 1, '2009': 1, 'include': 1, 'best': 1, 'buoyed': 1, 'received': 1, 'us': 3, '1989': 2, 'song': 2, 'new': 1, 'songs': 2, 'on': 2, 'release': 2, 'single': 2, 'third': 2, 'shake': 1, '30': 1, 'chart': 1, 'been': 1, 'perform': 1, 'established': 1, 'singlehandedly': 1, '14': 1, 'debut': 1, 'both': 2, 'nomination': 1, 'hired': 1, 'awards': 7, 'album': 7, 'nashville': 2, 'big': 1, 'by': 3, 'publishing': 1, 'at': 2, 'is': 2, 'star': 1, 'philanthropist': 1, 'taylor': 1, 'december': 1, 'she': 4, 'country': 5, 'alison': 1, '2014': 2, 'efforts': 1, 'numberone': 1, 'ensemble': 1, 'charities': 1, 'association': 2, 'years': 1, 'our': 1, 'as': 4, 'disaster': 1, 'to': 6, 'became': 2, 'downloads': 1, 'artist': 1, 'ever': 3, 'other': 1, 'swift': 7, 'and': 14, 'born': 1, 'person': 1, '2006': 1, 'the': 28, 'of': 8, 'with': 3, 'was': 2, 'eleven': 1, 'singersongwriter': 1, 'trouble': 1, 'story': 1, 'a': 7, 'american': 1, 'wyomissing': 1, 'crossover': 1, 'hall': 1, 'second': 1, 'comedy': 1, 'house': 1, 'write': 1, 'personal': 1, 'belong': 1, 'pursue': 1, 'records': 1, 'grammy': 4, 'any': 1, 'film': 1, 'made': 2, 'independent': 1, 'label': 1, 'reds': 1, '100': 1, 'tennessee': 1, 'children': 1, 'songwriter': 2, 'seven': 2, '2010': 1, 'four': 1, 'antidiscrimination': 1, 'machine': 1, 'becoming': 1, 'opening': 1, 'year': 1, 'fourth': 1, 'albums': 3, 'one': 3, 'speak': 2, 'hits': 1, 'now': 2, 'it': 2, 'sold': 3, 'selftitled': 1, 'over': 2, 'million': 5, 'date': 1, '12': 1, 'sonyatv': 1, 'first': 2, 'copies': 3, 'week': 3, 'their': 1, 'previous': 1, 'won': 2, 'moved': 1, 'two': 1, 'while': 1, 'career': 2, 'music': 7, 'winner': 1, 'animated': 1, 'we': 1, 'bestselling': 1, 'never': 1, 'knew': 1, '13': 1, 'getting': 1, 'back': 1, 'in': 12, 'together': 1, 'were': 2, 'known': 1, 'i': 1, 'fifth': 1, 'an': 2, 'valentines': 1, 'popfocused': 1, 'more': 2, '2010s': 1, 'its': 1, 'than': 2, 'are': 1, 'academy': 1, 'only': 1, 'act': 1, 'billboard': 2, 'hot': 2, 'have': 1, 'childrens': 1, 'youngest': 3, 'three': 1, 'sell': 1, 'off': 1, 'blank': 1, 'space': 1, 'reached': 1, 'number': 1, 'for': 2, 'about': 1, 'experiences': 1, 'singles': 3, 'has': 3, 'pennsylvania': 1, 'honored': 1, 'age': 1, 'songwriters': 2, 'within': 1, 'fame': 1, 'achievements': 1, 'digital': 1, 'worldwide': 1, 'twelve': 1, 'arts': 1, 'raised': 1, '2012s': 1, '271': 1, '80': 1, 'addition': 1, 'swifts': 5, 'appeared': 1, 'actress': 1, 'day': 1, 'lgbt': 1, 'lorax': 1, '2012': 1, 'giver': 1}]

## Sort word count for the name1

In [12]:
taylor_wordcount_table=taylor_swift[['word_count']].stack('word_count',new_column_name=['words','count'])

In [13]:
taylor_wordcount_table

Columns:
	words	str
	count	int

Rows: 212

Data:
+-----------+-------+
|   words   | count |
+-----------+-------+
|   relief  |   1   |
|  natural  |   1   |
|  literacy |   1   |
| education |   1   |
|    sick   |   1   |
|  supports |   1   |
|   signed  |   1   |
|     me    |   1   |
|    love   |   1   |
|    pop    |   1   |
+-----------+-------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
taylor_wordcount_table.sort('count',ascending=False)

Columns:
	words	str
	count	int

Rows: 212

Data:
+--------+-------+
| words  | count |
+--------+-------+
|  the   |   28  |
|  and   |   14  |
|   in   |   12  |
|   of   |   8   |
|   a    |   7   |
| music  |   7   |
| swift  |   7   |
| awards |   7   |
| album  |   7   |
|   to   |   6   |
+--------+-------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## TF-IDF for the data

#### Calculating word count for whole data

In [15]:
data['word_count']=turicreate.text_analytics.count_words(data['text'])

In [16]:
data['tfidf']=turicreate.text_analytics.tf_idf(data['word_count'])

In [17]:
data.head(5)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1, 'parade':... |
| alfred j lewy aka sandy le... | {'time': 1, 'each': 1, 'ho... |
| harpdog brown is a singer ... | {'society': 1, 'hamilton':... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1, 'aw... |
| henry krvits born 30 decem... | {'curtis': 1, '2007': 1, '... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
+-------------------------------+
[5 rows x 5 columns]

In [21]:
taylor_swift=data[data['name']=='Taylor Swift']
taylor_swift

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Taylor Swift | taylor alison swift born d... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'relief': 1, 'natural': 1... | {'relief': 4.4212304191898... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [22]:
taylor_swift[['tfidf']].stack('tfidf',new_column_name=['words','count']).sort('count',ascending=False)

Columns:
	words	str
	count	float

Rows: 212

Data:
+----------+--------------------+
|  words   |       count        |
+----------+--------------------+
|  swift   | 45.25294768523308  |
|  swifts  | 39.70986475750885  |
|  album   | 17.15886084726001  |
|  grammy  | 16.343058900720088 |
|  awards  | 15.987895924246429 |
| million  | 15.089148443794794 |
|  copies  | 13.501003800843316 |
| fearless | 13.476000294351671 |
| country  | 13.371801407883908 |
|  music   | 12.549548608814243 |
+----------+--------------------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

* using TF-IDF all common words like in the below are down weighted
* and important words - unique to the artical are up weighted

* as below most common words in the articles like the and in to are down weighted 
* words like album, music are up wighted

In [24]:
taylor_wordcount_table.sort('count',ascending=False)

Columns:
	words	str
	count	int

Rows: 212

Data:
+--------+-------+
| words  | count |
+--------+-------+
|  the   |   28  |
|  and   |   14  |
|   in   |   12  |
|   of   |   8   |
|   a    |   7   |
| music  |   7   |
| swift  |   7   |
| awards |   7   |
| album  |   7   |
|   to   |   6   |
+--------+-------+
[212 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Buildig k-means clustering model for documnet retrieval

In [25]:
knn_model = turicreate.nearest_neighbors.create(data,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

## Using Model

In [26]:
knn_model.query(taylor_swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.289ms     |

| Done         |         | 100         | 658.219ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |   Taylor Swift   |        0.0         |  1   |
|      0      | Carrie Underwood | 0.7623188405797101 |  2   |
|      0      |   Alicia Keys    | 0.7647058823529411 |  3   |
|      0      |  Jordin Sparks   | 0.7696335078534031 |  4   |
|      0      |   Leona Lewis    | 0.7761194029850746 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [27]:
data[data['name']=='Carrie Underwood']['text']

dtype: str
Rows: ?
['carrie marie underwood born march 10 1983 is an american singer songwriter and actress she rose to fame as the winner of the fourth season of american idol in 2005 underwood has since become one of the most prominent mainstream recording artists in the music industry setting and breaking several records throughout her career her achievements led her to be inducted into the grand ole opry in 2008 and into the oklahoma music hall of fame in 2009 she has won a vast array of awards including six grammy awards sixteen billboard music awards eleven academy of country music awards and eight american music awards along with being nominated for a golden globe award for best original songher debut album some hearts was released in 2005 bolstered by the huge crossover success of the singles jesus take the wheel and before he cheats it went on to become the fastest selling debut country album in nielsen soundscan history the bestselling solo female debut album in country music history and the bestselling country album of the last ten years underwood won three grammy awards for the album including best new artist her second album carnival ride released in 2007 had one of the biggest ever opening weeks by a female artist and earned underwood two grammy awards for the singles last name and i told you so her next two albums 2009s play on and 2012s blown away were both their years second bestselling release by a female artist the former spawned the successful single cowboy casanova and the latters single blown away won underwood a grammy award with more than 64 million records sold globally her tour revenues and a net worth estimated by forbes at over 110 million underwood is the biggest american idol earner of all timerecognized by rolling stone as the female vocalist of her generation in any genre and by billboard as country musics reigning queen underwood is the only solo country artist in the 2000s to have a number one hit on the billboard hot 100 and the first and only country artist to ever debut at number one on the hot 100 as inside your heaven topped the chart in 2005 she is also the female country artist with the most no 1 hits on the billboard hot country songs chart from 1991 to present having 14 number ones and breaking her own guinness book record of ten some hearts was named the no 1 country album of the 2000s by billboard and she was the topranked female artist on billboards best country artists of the 2000s list time has listed underwood as one of the 100 most influential people in the world', ... ]

In [ ]:
knn_model.query(data[data['name']=='Stephen Christian'])

In [ ]:
knn_model.query(data[data['name']=='Aaron Marsh'])